<a href="https://colab.research.google.com/github/rousharousha/DailyReport/blob/master/Day1S2_Exercises(15_06_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 Write a program to print the triangle i/p 4

1

2 3

3 4 5

4 5 6 7

In [0]:
n=int(input('Enter the value of n '))
num=1
for i in range(1,n+1):
  num=i
  for j in range(i):
    print(num,end=" ")
    num=num+1
  print()

Enter the value of n 4
1
2 3
3 4 5
4 5 6 7

In [0]:
""""2.Enter number 4

*
* *
* * *
* * * *"""
num=int(input('Enter the value of n '))
for i in range(1,n+1):
  for j in range(i):
    print('*',end=" ")
  print()

Enter the value of n 5
*
* *
* * *
* * * *

3.Enter number 5

5

4 5

3 4 5

2 3 4 5

1 2 3 4 5

In [0]:
n=int(input('Enter the value of n: '))
for i in range(n+1,0,-1):
  num=i
  for j in range(i,n+1):
    print(num,end=" ")
    num+=1
  print()

Enter the value of n: 5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

4 Enter number 5

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [0]:
n=int(input('Enter the value of n '))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

Enter the value of n 6
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

5 Enter number 4

1 2 3 4

2 3 4

3 4

4

3 4

2 3 4

1 2 3 4

In [0]:
n=int(input('Enter the value of n '))
for i in range(1,n+1):
  for j in range(i,n+1):
    print(j,end=" ")
  print()
for i in range(n-1,0,-1):
  for j in range(i,n+1):
    print(j,end=" ")
  print()

Enter the value of n 4
1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

6 Find the length of a string without using len functions

In [0]:
string=input('Enter the String ')
count=0
for word in string:
  for i in word:
    count+=1
print('The length of the string is ',count)

Enter the String 8
The length of the string is  1

7 Find the no of words and characters in a string

In [0]:
string=input('Enter the String ')
wordcount=0
charcount=0
for word in string.split():
  wordcount+=1
  for i in word:
    if(len(i)>0):
      charcount+=1
print('Word count is ',wordcount)
print('Character count is ',charcount)

Enter the String Hello Everyone
Word count is  2
Character count is  13

8 Find the no of occurrences of a word in a string

In [0]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

string=input('Enter the String ')
print( word_count(string))

Enter the String welcome everyone
{'welcome': 1, 'everyone': 1}