<a href="https://colab.research.google.com/github/rousharousha/DailyReport/blob/master/Day2S1(16_06_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List Examples

In [11]:
#1.Program to find the largest number in a list.
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:2
Enter element:4
Enter element:8
Largest element is: 8

In [2]:
#2.Python Program to put the even and odd elements in a list into two different lists.
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:2
Enter element:3
Enter element:4
The even list [4]
The odd list [3]

In [3]:
#3.Python Program to merge two lists and sort it.
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:2
Enter element:5
Enter element:6
Enter number of elements:1
Enter element:6
Sorted list is: [5, 6, 6]

In [4]:
#4.Python Program to sort the list according to the second element in the sublist.

a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

In [5]:
#5.Python Program to find the second largest number in a list using bubble sort.
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp
print('Second largest number is:',a[n-2])

Enter number of elements:2
Enter element:4
Enter element:6
Second largest number is: 4

In [6]:
#6.Program to create a list of tuples with the first element as the number and the second element as the square of the number.
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:5
Enter the upper range:3
[]

In [7]:
#7.Python Program to generate random numbers from 1 to 20 and append them to the list.

import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:2
Randomised list is:  [17, 8]

List Exercise

In [1]:
#1.Print multiples of 3 upto 200 using a list
lst=[i for i in range(0,200,3)]
print(lst)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

In [2]:
#2.Print multiples of 3 upto 200 using a list
lst=[i for i in range(0,200,3)]
print(lst)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

In [3]:
#3.Add the n number of names in a list and print them alphabetically and reverse alphabetically.
names=[]
n=int(input('Enter n:'))
for i in range(0,n):
  name=input('Enter name:')
  names.append(name)
print('The list is:',names)
alphlist=sorted(names,reverse=False)
print('Names in alphabetical order:',alphlist)
revlist=sorted(names,reverse=True)
print('Names in reverse alphabetical order:',revlist)

Enter n:2
Enter name:malayalam
Enter name:banana
The list is: ['malayalam', 'banana']
Names in alphabetical order: ['banana', 'malayalam']
Names in reverse alphabetical order: ['malayalam', 'banana']

In [4]:
#4.Print  perfect squares divisible by 5 between 500 and 1000( (both inclusive) using list
lst=[i*i for i in range(500,1001) if i%5==0]
print(lst)

[250000, 255025, 260100, 265225, 270400, 275625, 280900, 286225, 291600, 297025, 302500, 308025, 313600, 319225, 324900, 330625, 336400, 342225, 348100, 354025, 360000, 366025, 372100, 378225, 384400, 390625, 396900, 403225, 409600, 416025, 422500, 429025, 435600, 442225, 448900, 455625, 462400, 469225, 476100, 483025, 490000, 497025, 504100, 511225, 518400, 525625, 532900, 540225, 547600, 555025, 562500, 570025, 577600, 585225, 592900, 600625, 608400, 616225, 624100, 632025, 640000, 648025, 656100, 664225, 672400, 680625, 688900, 697225, 705600, 714025, 722500, 731025, 739600, 748225, 756900, 765625, 774400, 783225, 792100, 801025, 810000, 819025, 828100, 837225, 846400, 855625, 864900, 874225, 883600, 893025, 902500, 912025, 921600, 931225, 940900, 950625, 960400, 970225, 980100, 990025, 1000000]

Tuple Examples

In [6]:
#1.Write python program to have a list of words  to sort them from longest to shortest using list of tuples
 
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
   t.append((len(word), word))
t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

In [7]:
#2.Python program that assigns variables

# Create packed tuple.
pair = ("dog", "cat")

# Unpack tuple.
(key, value) = pair

# Display unpacked variables.
print(key)
print(value)

dog
cat

In [8]:
#3.Python program that searches tuples
pair = ("dog", "cat")

# Search for a value.
if "cat" in pair:
    print("Cat found")

# Search for a value not present.
if "bird" not in pair:
    print("Bird not found")

Cat found
Bird not found

Tuple Exercise

In [5]:
#1.Get a string and store word by word as element in tuple and find the largest word in the tuple and print it
a=[]
n= int(input("Enter the number of elements in list:"))
for x in range(0,n):
    element=input("Enter element" + str(x+1) + ":")
    a.append(element)
max1=len(a[0])
temp=a[0]
for i in a:
    if(len(i)>max1):
       max1=len(i)
       temp=i
print("The word with the longest length is:")
print(temp)

Enter the number of elements in list:3
Enter element1:aiet
Enter element2:welcome
Enter element3:to
The word with the longest length is:
welcome

In [9]:
#2. Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno
import operator
n=int(input('Enter n:'))
d={}
for i in range(0,n):
  name=input('Enter student name:')
  marks=input('Enter marks:')
  d[name]=marks
t=list(d.items())
lst=sorted(t,key=operator.itemgetter(1),reverse=True)
print(lst)

Enter n:2
Enter student name:shruthi
Enter marks:56
Enter student name:megha
Enter marks:89
[('megha', '89'), ('shruthi', '56')]

In [10]:
#3.Get name and salary (name, salary) as list of tuples for n number of employees through keyboard and print them in name alphabetical order with salary
import operator
n=int(input('Enter n:'))
d={}
for i in range(0,n):
  name=input('Enter employee name:')
  salary=input('Enter salary:')
  d[name]=salary
t=list(d.items())
lst=sorted(t,key=operator.itemgetter(1),reverse=False)
print(lst)

Enter n:2
Enter employee name:ramesh
Enter salary:7800
Enter employee name:umesh
Enter salary:4500
[('umesh', '4500'), ('ramesh', '7800')]