<a href="https://colab.research.google.com/github/rousharousha/DailyReport/blob/master/Day2S2(16_06_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionary Examples

In [1]:
#dict.clear()

#Removes all elements of dictionary dict

 

dict = {'Name': 'Zara', 'Age': 7};

print("Start Len : %d" %  len(dict))

dict.clear()

print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

In [2]:
#dict.items()

#Returns a list of dict's (key, value) tuple pairs

 

dict = {'Name': 'Zara', 'Age': 7}

print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

In [3]:
# dict.copy()

#Returns a copy of dictionary dict

 

dict1 = {'Name': 'Zara', 'Age': 7};

dict2 = dict1.copy()

print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

In [5]:
#Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x).
n=int(input("Enter a number:"))

d={x:x*x for x in range(1,n+1)}

print(d)

Enter a number:2
{1: 1, 2: 4}

In [7]:
#Python Program to Sum All the Items in a Dictionary
d={'A':100,'B':540,'C':239}

print("Total sum of values in the dictionary:")

print(sum(d.values()))

Total sum of values in the dictionary:
879

In [8]:
#Python Program to Remove the Given Key from a Dictionary
d = {'a':1,'b':2,'c':3,'d':4}

print("Initial dictionary")

print(d)

key=input("Enter the key to delete(a-d):")

if key in d:

    del d[key]

else:

    print("Key not found!")

    exit(0)

print("Updated dictionary")

print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):2
Key not found!
Updated dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [2]:
#Python Program to add name and mark as key->value pair in  a Dictionary and print it.
n=int(input("Enter no of records"))

d={}

for i in range(1,n+1):

    name= input("Enter name %d"%(i))

    mark=int(input("Enter mark %d"%(i)))

    d[name]=mark

    print (d)

Enter no of records2
Enter name 1geetha
Enter mark 156
{'geetha': 56}
Enter name 2raksha
Enter mark 245
{'geetha': 56, 'raksha': 45}

In [15]:
# Keys and Values example

d={}

print (" The dictionary elements are")

for i in range(1,21):

    d[i]=i**2

print (d)

# To print key and values

print (" Key==> Value are")

for (k,v) in d.items():         

    print(k,"==>",v)

# To print key only

print ("\nTo print key only")

for k in d.keys():    

    print(k, end=" ")

#To print value only

print ("\nTo print values only")

for v in d.values(): 

  print(v, end=" ")

 The dictionary elements are
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256
17 ==> 289
18 ==> 324
19 ==> 361
20 ==> 400

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400

In [5]:
#Python program to convert 2 digit number   into words

 

d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\

   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\

   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\

   60:'sixty',70:'seventy',80:'eighty',90:'ninty'}

 

num=int(input("Enter the integer between 1 to 99:"))

if (num<=20):

      print(d[num])

if(num>20 and num<100):

        if num%10==0:      

            print(d[num])

        else:

            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 99:56
fifty six

In [7]:
#How to sort a dictionary by values in Python
 
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}

#Use the sorted function and operator module

import operator

sorted_d = sorted(d.items(), key=operator.itemgetter(1))

print(sorted_d)

sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)

print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]

Dictionary Exercises

In [8]:
#1.Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  mark=int(input("Enter mark %d"%(i)))
  d[name]=mark
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print("output: ",sorted_a)

Enter no of records2
Enter name 1geetha
Enter mark 123
Enter name 2sanju
Enter mark 267
input:  {'geetha': 23, 'sanju': 67}
output:  [('sanju', 67), ('geetha', 23)]

In [10]:
#2.Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  s=float(input("Enter salary %d"%(i)))
  d[name]=s
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(0))
print("output: ",sorted_a)

Enter no of records2
Enter name 1raksha
Enter salary 156000
Enter name 2geetha
Enter salary 234000
input:  {'raksha': 56000.0, 'geetha': 34000.0}
output:  [('geetha', 34000.0), ('raksha', 56000.0)]

In [11]:
#3.Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  s=float(input("Enter salary %d"%(i)))
  d[name]=s
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1))
print("output: ",sorted_a)
v = d.values()
print("sum: ",sum(v))
print("max: ",max(v))
print("min: ",min(v))
print("avg: ",(sum(v)/n))

Enter no of records2
Enter name 1sri
Enter salary 156000
Enter name 2jasmine
Enter salary 278000
input:  {'sri': 56000.0, 'jasmine': 78000.0}
output:  [('sri', 56000.0), ('jasmine', 78000.0)]
sum:  134000.0
max:  78000.0
min:  56000.0
avg:  67000.0

In [13]:
#4.Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  s=int(input("Enter salary %d"%(i)))
  d[name]=s
print("input: ",d)
for key,value in d.items():
    if value>=2000 and value<=4000:
         print(d[key],"=",key)

Enter no of records1
Enter name 1rami
Enter salary 135000
input:  {'rami': 35000}

In [14]:
#5.Python program to convert a 3 digit number  into words
def convert_to_words(num):  
    l = len(num);    
    if (l == 0): 
        print("empty string"); 
        return; 
  
    if (l > 4): 
        print("Length more than 4 is not supported"); 
        return;   
    single_digits = ["zero", "one", "two", "three",  
                     "four", "five", "six", "seven",  
                     "eight", "nine"];  
    two_digits = ["", "ten", "eleven", "twelve",  
                  "thirteen", "fourteen", "fifteen",  
                  "sixteen", "seventeen", "eighteen", 
                  "nineteen"];  
    tens_multiple = ["", "", "twenty", "thirty", "forty", 
                     "fifty", "sixty", "seventy", "eighty",  
                     "ninety"]; 
    tens_power = ["hundred", "thousand"];   
    print(num, ":", end = " ");   
    if (l == 1):  
        print(single_digits[ord(num[0]) - '0']); 
        return;  
    x = 0; 
    while (x < len(num)):    
        if (l >= 3): 
            if (ord(num[x]) - 48 != 0): 
                print(single_digits[ord(num[x]) - 48],  
                                           end = " "); 
                print(tens_power[l - 3], end = " ");  
                  
            l -= 1; 
        else:   
            if (ord(num[x]) - 48 == 1):  
                sum = (ord(num[x]) - 48 + 
                       ord(num[x]) - 48); 
                print(two_digits[sum]); 
                return;   
            elif (ord(num[x]) - 48 == 2 and 
                  ord(num[x + 1]) - 48 == 0): 
                print("twenty"); 
                return;  
            else: 
                i = ord(num[x]) - 48; 
                if(i > 0): 
                    print(tens_multiple[i], end = " "); 
                else: 
                    print("", end = ""); 
                x += 1; 
                if(ord(num[x]) - 48 != 0): 
                    print(single_digits[ord(num[x]) - 48]); 
        x += 1;  
convert_to_words("923"); 
convert_to_words("523"); 
convert_to_words("898");

923 : nine hundred twenty three
523 : five hundred twenty three
898 : eight hundred ninety eight